<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet", type="text/css", href="foxprimerstyle.css">
</head>
<body>
<p>
<IMG class="fox" src="[% c.uri_for('/static/images/FoxPrimer.png') %]" />
<IMG class="catalyst" src="[% c.uri_for('/static/images/btn_120x50_powered.png') %]" />
<UL class="navigation">
    <li><a href="[% c.uri_for('/') %]">Home Page</a></li>
    <li><a href="[% c.uri_for('/search') %]">Search qPCR Primer Database</a></li>
    <li><a href="[% c.uri_for('/mrna_primer_design') %]">Create cDNA Primers</a></li>
    <li><a href="[% c.uri_for('/chip_primer_design') %]">Create ChIP Primers</a></li>
    <li><a href="[% c.uri_for('/add_motif') %]">Add Motif</a></li>
    <li><a href="[% c.uri_for('validated_primers_entry_shell') %]">Enter Validated qPCR Primers</a></li>
</UL>
</p>
<P class="copyright">Copyright 2012-2013 Jason R. Dobson</P>
<H1 class="title">[% template.title or site.title %]</H1>
<p id="messages">Status Messages:</p>
<p id="messages" class="status">[% status_msg %]</p>
[% IF error_msg %]
[% FOR error IN error_msg %]
<p id="messages" class="error">[% error %]</p>
[% END %]
[% END %]
<p>[% content %]</p>
</body>
</html>
