[% WRAPPER default.tt title = c.config.name ; END %]
[% META title = 'cDNA Primer Design' %]
<div id="stylized" class="myform" align="center">
<form name="real_time_qPCR_primer_design" method=POST action="mrna_primer_design">
	<p>
		Please enter a comma seperated list of valid NCBI mRNA accessions.
	</p>
	<p>
		The string of accessions should be in the format NM_(number),NM_(number).
	</p>
	<p>
		This program will try to design three types of primer pairs based on location of the primers relative to splice sites and intron size.
	</p>
	<p>
		These types are: <b>Junction Spanning</b>, <b>On either side of an intron greater than a specified size</b>, and <b>Intra-exon primers</b>.
	</p>
	<table>
	<tr>
		<td><label>Species</td>
		<td><span class="small">Please select which mispriming library to use:</span>
		<td><select name="species"><option value="Human">Human</option><option value="Rodent and Simple">Rodent and Simple</option>
	</tr>
       </table>
       <table>
	<tr>
	       <td><label>Accessions</td>
	       <td><span class="small">Enter the accessions in a comma separated list:</span></label></td>
	       <td><input type="text" name="genes" value="" title="Accessions"></td>
        </tr>
	<tr>
	       <td><label>Product size</td>
	       <td><span class="small">Enter the desired product range for your qPCR reaction (default 70-150):</span></label></td>
	       <td><input type="text" name="product_size" value="70-150" title="Product Size"></td>
	</tr>
	<tr>
	       <td><label>Intron Size</td>
               <td><span class="small">Enter the minimum size for an intron to be considred for primer design:</span></label></td>
 	       <td><input type="text" name="intron_size" value="1000" title="Intron Size"></td>
	</tr>
        <tr>
	       <td><label>Number Per Type</td>
	       <td><span class="small">Enter the maximum number of primer pairs to design for each of the three types:</span></label></td>
	       <td><input type="text" name="number_per_type" value="5" title="Number Per Type"></td>
        </tr>
	</table>
	<p></p>
	<p>
		<button type="submit">Submit Query!</button>
	</p>
	[% IF primer_results %]
		<table border="1">
			<th>NCBI Accession</th>
			<th>mRNA Description</th>
			<th>Primer Type</th>
			<th>Primer Pair Penalty</th>
			<th>Left Primer Position</th>
			<th>Right Primer Position</th>
			<th>Product Size</th>
			<th>Left Primer Sequence</th>
			<th>Right Primer Sequence</th>
			<th>Left Primer Length</th>
			<th>Right Primer Length</th>
			<th>Left Primer Tm</th>
			<th>Right Primer Tm</th>
			<th>Left Primer Five Prime Position</th>
			<th>Left Primer Three Prime Position</th>
			<th>Right Primer Five Prime Position</th>
			<th>Right Primer Three Prime Position</th>
			[% FOREACH primer_row IN primer_results %]
				<tr>
					<td align="center">[% primer_row.accession %]</td>
					<td align="center">[% primer_row.description %]</td>
					<td align="center">[% primer_row.primer_pair_type %]</td>
					<td align="center">[% primer_row.primer_pair_penalty %]</td>
					<td align="center">[% primer_row.left_primer_position %]</td>
					<td align="center">[% primer_row.right_primer_position %]</td>
					<td align="center">[% primer_row.product_size %]</td>
					<td align="center">[% primer_row.left_primer_sequence %]</td>
					<td align="center">[% primer_row.right_primer_sequence %]</td>
					<td align="center">[% primer_row.left_primer_length %]</td>
					<td align="center">[% primer_row.right_primer_length %]</td>
					<td align="center">[% primer_row.left_primer_tm %]</td>
					<td align="center">[% primer_row.right_primer_tm %]</td>
					<td align="center">[% primer_row.left_primer_five_prime %]</td>
					<td align="center">[% primer_row.left_primer_three_prime %]</td>
					<td align="center">[% primer_row.right_primer_five_prime %]</td>
					<td align="center">[% primer_row.right_primer_three_prime %]</td>
				</tr>
			[% END %]
		</table>
	[% END %]
</form>
</div>
